.outlet-container {
  margin-left: -0.5vw; /* Margem esquerda negativa em 2% da largura da janela */
  margin-right: -0.5vw; /* Margem direita negativa em 2% da largura da janela */
  margin-top: 0; /* Mantém a margem superior como 0 */
  margin-bottom: 0; /* Mantém a margem inferior como 0 */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  margin-left: -0.5vw;
  margin-right: -0.5vw; 
}